/* CSS Document */

body {
	text-align: center;
}
.item-template, .page-template {
	display:none;
}

.product-image {
	height:100px;
}

h1 {
	font-size:1.5em !important;
}

h1 a { 
color: #fff !important;
text-decoration: none !important;
}

div[data-role='page'] {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-position: center top;
}

#main div[data-role="content"] {
	padding:0;
}

#main .items {
	margin:0;
}

#mainmenu {
	margin:0;
}

.ui-header .ui-btn-inner, .ui-footer .ui-btn-inner {
	font-size:18px !important;
}

.ui-header .ui-title, .ui-footer .ui-title {

margin-left: 0;
margin-right: 0;

text-overflow:visble;  /* -Uncomment - to disable Ellipsis completely use with Caution- !*/ 

}