/* CSS Document */

body {
	text-align: center;
}
.item-template {
	display:none;
}

.product-image {
	height:100px;
}

h1 {
	font-size:2em !important;
}

div[data-role='page'] {
	background-image: url(../images/background.jpg);
	background-repeat: repeat;
	background-position: center top;
}

#main div[data-role="content"] {
	padding-top:0;
}

#main .items {
	margin:0;
}

#mainmenu {
	margin-top:0;
	margin-bottom:0;
}